/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-spinner/animations/timer.css";
@import "../node_modules/ngx-toastr/toastr.css";



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


:root {
    --holoblue: #27c7ffab;
    --hologray: #ffffffd1;
    --holoslate: #c9c9c971;
    --hologreen-text: #22ff87;
    --holoblue-text: #34c9fe;
    --holostar: rgb(255, 238, 0);
    --holoactive: rgb(0, 196, 114);
}

body {
    font-family: 'Gothic A1';
    background-image: url('/assets/images/star-overlay.png'), url('/assets/images/holonetbg.png');
    background-repeat: repeat;
}


.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    font-size: 20px;
    margin-bottom: 0;
    color: rgb(0, 204, 10);
}

.xng-breadcrumb-separator {
    padding: 0 0;
}

.StripeElement {
    height: 3.125em;
}

.specialText {
    color: linear-gradient(180deg, #3be5ffde, #2ac5fe8a, #4fa2f000);
}

a:hover {
    color: rgb(34, 146, 0) !important;
    /* Change the color to blue on hover */
}