/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-spinner/animations/timer.css";
@import "../node_modules/ngx-toastr/toastr.css";



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


:root {
    --holoblue: #27c7ffab;
    --hologray: #ffffff;
    --holoslate: #c9c9c971;
    --hologreen-text: #22ff87;
    --holoblue-text: #34c9fe;
    --holostar: rgb(255, 238, 0);
    --holoactive: rgb(0, 196, 114);
}

body {
    padding-top: 75px;
    font-family: 'Gothic A1';
    background-image: url('/assets/images/star-overlay.png'), url('/assets/images/holonetbg.png');
    background-repeat: repeat;
}




.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail {
    font-size: 20px;
    margin-bottom: 0;
    color: rgb(0, 204, 10);
}

.xng-breadcrumb-separator {
    padding: 0 0;
}

.StripeElement {
    height: 3.125em;
}

a:hover {
    color: rgb(34, 146, 0) !important;
}

.btn-outline-holoprimary,
.btn-holoprimary {
    background-color: var(--holoactive);
    color: white;
    border-color: rgba(255, 255, 255, 0);

    &:hover {
        background-color: var(--hologreen-text);

        /* Change the background color to green on hover */
        color: black;
        /* Change the text color to white on hover */
        border-color: rgba(255, 255, 255, 0);

        /* Change the border color to green on hover */
    }
}

.btn-outline-holosuccess {
    background-color: rgb(255, 90, 117);
    color: white;
    border-color: rgba(255, 255, 255, 0);

    &:hover {
        background-color: rgb(255, 117, 140);

        /* Change the background color to green on hover */
        color: black;
        /* Change the text color to white on hover */
        border-color: rgba(255, 255, 255, 0);

        /* Change the border color to green on hover */
    }
}

.fa-shopping-cart:hover {
    color: var(--holoactive) !important;
}

.fa-trash:hover {
    color: red;
}

.fa-plus-circle:hover,
.fa-minus-circle:hover {
    color: gold !important;
}

.page-link {
    background-color: var(--hologray);
    color: var(--holoblue);
}

.page-link.active,
.active>.page-link {
    background-color: var(--hologreen-text);
    border-color: rgba(0, 0, 0, 0);
}

.prod-link {
    color: rgb(109, 94, 94);
    text-decoration: none;

    &:hover {
        color: var(--hologreen-text);
    }
}

.white-box {
    background-color: rgba(240, 248, 255, 0.562);
    border-radius: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--holoactive);
    border-radius: 5px;
}