.featured {
    height: 150px;
}

img {
    object-fit: cover;
    height: 650px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 15px;
}