<div class="background-image-center">
    <div class="container white-box pb-3 text-center">
        <div><i class="fa fa-check-circle fa-5x" style="color: green;"></i></div>
        <h2>Thank you, your order is confirmed.</h2>
        <p class="mb-4">Unfortunately, your order will never ship, as this is not a real store.</p>
        <button style="z-index: 5;" *ngIf="order" routerLink="/orders/{{order.id}}"
            class="btn btn-outline-holosuccess">View order</button>
        <button style="z-index: 5;" *ngIf="!order" routerLink="/orders" class="btn btn-outline-holosuccess">View
            orders</button>
    </div>
</div>