.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {
        border-radius: 10px;
        background-color: var(--hologreen-text);

    }

    &:not(.active):hover {
        background-color: var(--holoblue);
        border-radius: 10px;
    }
}

.text-warning {
    color: rgb(0, 204, 10) !important;
}