<div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-1 px-md-4 bg-primary border-bottom shadow-sm">
    <img src="/assets/images/logo.png" class="logo" style="max-height: 70px;" alt="logo" routerLink="/">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2 text-decoration-none" routerLink="/" routerLinkActive="active">Home</a>
        <a class="p-2 text-decoration-none" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2 text-decoration-none" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
        <span routerLink="/basket" class="position-relative me-3">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <span *ngIf="(basket$ | async) as basket">
                <span *ngIf="basket.items">{{basket.items.length}}</span>
            </span>
        </span>

        <ng-container *ngIf="(currentUser$ | async) as currentUser">
            <ng-container *ngIf="!currentUser || isObjectEmpty(currentUser)">
                <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
                <a routerLink="/account/register" class="btn btn-outline-secondary me-2">Sign up</a>
            </ng-container>

            <ng-container *ngIf="currentUser && !isObjectEmpty(currentUser)">
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                    <button type="button" class="btn me-2" id="dropdownManual" ngbDropdownAnchor
                        (focus)="myDrop.open()">
                        <strong>Welcome, {{ currentUser.displayName }}</strong>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                        <button ngbDropdownItem>
                            <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
                                <i class="fa fa-shopping-cart me-3"></i> View Basket
                            </a>
                        </button>
                        <button ngbDropdownItem>
                            <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
                                <i class="fa fa-history me-3"></i> View Orders
                            </a>
                        </button>
                        <button ngbDropdownItem>
                            <div class="dropdown-divider"></div>
                            <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
                                <i class="fa fa-sign-out me-3"></i> Logout
                            </a>
                        </button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>