<div class="container text-center about-section"
    style="background-color: rgba(240, 248, 255, 0.562); background-image: url('./assets/images/nousagihead.png'); background-repeat: no-repeat; background-position: center; border-radius: 15px;">
    <h1>Please note:
        <br>Most of the items listed are either from <strong><span
                style="color: var(--holoblue)">Hololive</span></strong> or things I
        just like.
        <br><span style="color:red"><strong>This website is a demo & cannot be used to
                purchase
                anything.</strong></span>

    </h1>
    <br>
    <div class="container text-start">
        <h2>
            <span style="color: rgb(0, 128, 187)"><strong>However,</strong></span> all the
            functionality you would find
            in a
            typical e-commerce website is here (Except for actually delivering your order).
            The website itself was made using the <span style="color:rgb(110, 0, 212)">.NET</span> framework with
            <span style="color:red">Angular</span>.
            <span style="color:blue">PostgreSQL</span> is used for the database, and the website is hosted using
            <span style="color: rgb(0, 122, 163)">Digital Ocean</span>.

            <br><br>I did not want to buy a domain name for just a demo website. I am not made of money.
        </h2>

        <br>

        <h3>Here are some features of Holonet:</h3>
        <ul>
            <li>Filter and search through a paginated database of things I like</li>
            <li>Create a basket of products you want, which will persist with your account</li>
            <li>Register and login with an account to keep track of your orders</li>
            <li>APIs with DTOs for easy information sharing</li>
            <li>Responsive interface with validation on all forms</li>
            <li>Stripe API integration for secure checkout *</li>
            <small><strong>* Please use the credit card number 4242424242424242 for checkout.</strong></small>
        </ul>
    </div>
</div>